<%- include('Parts/Header')%>
<%- include('Parts/NavBar')%>

<div class="container text-color">
    <h3>Create Account</h3>
    <form action="/signup" method="POST"></form>

</div>
<%- include('Parts/Footer')%>